.main {
    background-color: #eee8d5;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#frame {
    top: 0%;
    bottom: 20%;
    margin: auto;
    position: absolute;
    width: 75%;
    max-width: 1560px;
    height: 65%;
    border: solid thin #a0aba9;
    background-color: #fdf6e3;
    box-sizing: border-box;
    padding: 60px;
    z-index: 2;
    box-shadow: 0px 12px 50px -13px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
}

#terminal {
    width: 100%;
    height: 100%;
    background-color: #eee8d5;
    font-family: 'Inconsolata', monospace;
    padding: 20px 25px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 24px;
    white-space: pre-wrap;
    line-break: anywhere;
    word-break: break-all;
    box-shadow: 0px 15px 50px 5px rgba(0, 0, 0, 0.15);
    border: solid thin #7e8a8599;
    border-radius: 2.5px;
    cursor: default;
    overflow: auto;
    color: #6d8187;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#terminal::-webkit-scrollbar {
    display: none;
}

.symbol {
    color: #5f9cfe
}

.hostname {
    color: #b78c07;
}

.quotes {
    color: #e6bd45;
}

.bash {
    color: #788a8e;
}

.directory {
    color: #7378c5;
}

/* very scuffed */
@keyframes cursor-blink {
    0% {
        opacity: 0.75;
    }

    49% {
        opacity: 0.75;
    }

    50% {
        opacity: 0;
    }

    99% {
        opacity: 0;
    }
}


#input::after {
    content: "_";
    display: inline-block;
    animation: cursor-blink 1s infinite;
}

.command {
    color: #8b9e0d;
}

.param {
    color: #677d84;
}

.error {
    color: #d07171;
}

.constant {
    color: #b34bc5;
}

.unconstant {
    color: #b00a4f;
}

#footer {
    color: #788a8e;
    opacity: 75%;
    position: absolute;
    z-index: 0;
    bottom: 25px;
    font-size: 12px;
    user-select: none;
}

.neofetch {
    display: flex;
    align-items: center;
    gap: 20px;
}

.neofetch>div {
    flex-grow: 1;
}

.neofetch>img {
    width: 100px;
    height: 100px;
    padding: 15px;
}

.help {
    max-height: 100px;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
}

@media (prefers-color-scheme: dark) {
    .main {
        background-color: #242424;
    }

    #frame {
        visibility: hidden;
    }

    #frame>* {
        visibility: visible;
    }

    #terminal {
        background-color: #282928;
        border: solid thin #464746;
    }
}