.main {
  background-color: #eee8d5;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.frame {
  position: absolute;
  top: 15%;
  width: 77.80%;
  max-width: 811px;
  height: 305px;
  border: solid thin #a0aba9;
  background-color: #fdf6e3;
  box-sizing: border-box;
  padding: 54px;
  z-index: 2;
  /* box-shadow: 0px 12px 50px -13px rgba(0,0,0,0.23);
  border-radius: 5px; */
}

#terminal {
  width: 100%;
  height: 100%;
  background-color: #eee8d5;
  font-family: 'Inconsolata', monospace;
  padding: 1em;
  padding-bottom: 5px;
  box-sizing: border-box;
  font-size: 18px;
  white-space: pre-wrap;
  line-break: anywhere;
  word-break: break-all;
  /* box-shadow:shadow 0px 12px 50px -13px rgba(0,0,0,0.23);
  border: solid thin #abb4b050;
  border-radius: 7.5px; */
  cursor: default;
  overflow: auto;
  color: #6d8187;
}

.hostname {
  color: #b78c07;
}

.bash {
  color: #788a8e;
}

.directory {
  color: #7378c5;
}

/* very scuffed */
@keyframes cursor-blink {
  0% {
    opacity: 0.75;
  }
  49% {
    opacity: 0.75;
  }
  50% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
}


#input::after {
  content: "_";
  display: inline-block;
  animation: cursor-blink 1s infinite;
}

.command {
  color: #8b9e0d;
}

.param {
  color: #677d84;
}

#footer {
  opacity: 25%;
  position: absolute;
  z-index: 0;
  bottom: 25px;
  font-size: 12px;
  user-select: none;
}